.img{
    height: 50vh;
    width: 100vw;
    background-image:url(hanuman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.c1{
    height: 50vh;
    width: 100vh;
    background:linear-gradient(pink rgb(244, 142, 159) rgb(255, 100, 126) rgb(198, 54, 14) ) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
