
p{
    color: green;
    text-indent: 500px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: dotted;

}
h1{
   text-align: center;
   text-shadow: 10px 10px 10px rebeccapurple;
}
h1{
     font-family: cursive;
    font-size: 40px;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 900;
}
section{
    height: 50vh;
    width: 100%;
    background-image:url(hanuman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
