nav{
    height: 50px;
    width: 100%;
    background-color: black;
    gap: 50px;
    display: flex;
    align-items: center;

    
}
a{
    color: white;
    text-decoration: none;
    
    }
#right{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
    
    

}
#left{
    margin-left:auto;
    padding-right: 10px; 
    display: flex;
    display: inline;
    
}